%h1 Listing meetings
%table
  %tr
    %th When
    %th Description
    %th
    %th
    %th
  - @meetings.each do |meeting|
    %tr
      %td= meeting.when
      %td= meeting.description
      %td= link_to 'Show', meeting
      %td= link_to 'Edit', edit_meeting_path(meeting)
      %td= link_to 'Destroy', meeting, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Meeting', new_meeting_path
