!!! 5

%html
  %head
    %title programmers&middot;in&middot;padua
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    .container
      .row
        %ul.nav-bar  
          %li
            = link_to "PiP", root_path
          %li
            = link_to "Archivio", meetings_path
          %li 
            %a{:href=>"#"} Persone
      .row
        = yield
